In [40]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [41]:
file_path = 'train.csv'
home_data = pd.read_csv(file_path)
y = home_data.SalePrice

features= ['MSSubClass','LotArea','OverallQual','OverallCond','YearBuilt','YearRemodAdd','BsmtFinSF1',
 'BsmtFinSF2','BsmtUnfSF','TotalBsmtSF','1stFlrSF','2ndFlrSF','LowQualFinSF','GrLivArea','BsmtFullBath',
'BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr','TotRmsAbvGrd','Fireplaces',
'GarageCars','GarageArea','WoodDeckSF','OpenPorchSF','EnclosedPorch','3SsnPorch','ScreenPorch',
'PoolArea','MiscVal','MoSold','YrSold']

X = home_data[features]
X.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,8450,7,5,2003,2003,706,0,150,856,...,548,0,61,0,0,0,0,0,2,2008
1,20,9600,6,8,1976,1976,978,0,284,1262,...,460,298,0,0,0,0,0,0,5,2007
2,60,11250,7,5,2001,2002,486,0,434,920,...,608,0,42,0,0,0,0,0,9,2008
3,70,9550,7,5,1915,1970,216,0,540,756,...,642,0,35,272,0,0,0,0,2,2006
4,60,14260,8,5,2000,2000,655,0,490,1145,...,836,192,84,0,0,0,0,0,12,2008

In [42]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1) # Split into validation and training data

In [43]:
# Define a random forest model
# ranf_model = RandomForestRegressor(random_state=1, n_estimators=700)
# ranf_model.fit(train_X, train_y)
# ranf_val_predictions = ranf_model.predict(val_X)

gbm_model = GradientBoostingRegressor(random_state=1, n_estimators=200)
gbm_model.fit(train_X, train_y)
gbm_val_predictions = gbm_model.predict(val_X)
gbm_val_mae = mean_absolute_error(gbm_val_predictions, val_y)
gbm_val_rmse = np.sqrt(mean_absolute_error(gbm_val_predictions, val_y))
print(gbm_val_mae)
print(gbm_val_rmse)

14780.210104922673
121.5738874303305

In [44]:
# ranf_model_data = RandomForestRegressor(random_state=1, n_estimators=700)
# fit ranf_model_data on all data from the training data
# ranf_model_data.fit(X, y)

gbm_model_on_full_data = GradientBoostingRegressor(random_state=1, n_estimators=200)
gbm_model_on_full_data.fit(train_X, train_y)

GradientBoostingRegressor(n_estimators=200, random_state=1)

In [45]:
test_data_path = 'test.csv'
test_data = pd.read_csv(test_data_path)
test_data = test_data.fillna(-1)
test_X = test_data[features]

test_preds = gbm_model_on_full_data.predict(test_X)
print(test_preds)

[131027.93236358 154332.18703169 183354.38265712 ... 180621.55013877
 117265.06355877 234995.10816072]

In [46]:
output = pd.DataFrame({'Id': test_data['Id'],'SalePrice': test_preds})
output.to_csv('Pridiction_submission.csv', index=False)
output

        Id      SalePrice
0     1461  131027.932364
1     1462  154332.187032
2     1463  183354.382657
3     1464  184633.844419
4     1465  189041.420405
...    ...            ...
1454  2915   82999.780654
1455  2916   86642.208439
1456  2917  180621.550139
1457  2918  117265.063559
1458  2919  234995.108161

[1459 rows x 2 columns]

In [47]:
# print(output)
path = 'sample_submission.csv'
_data = pd.read_csv(path)
_data

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]